{{- define "main" -}}


{{/* 头部图片 */}}
{{$top_image := "images/design/top-image.png"}}
{{- if .Params.top_image -}}
{{- $top_image =  .Params.top_image -}}
{{- end -}}
<div class="site-header-container has-cover" style="background-image: url({{ $top_image | relURL}});">
  <div class="scrim has-cover">
    <div class="site-header">
      <h1 class="title"></h1>
      <p class="subtitle"></p>
    </div>
  </div>
</div>

<div class="page-research container">

    <div class="pt-3 pb-3 page-title">
        <h1>{{ .Title }}</h1>
    </div>


    <div class="research-list-wrap pb-5">

    {{ .Content }}

    </div>

</div>


{{- end -}}
